<div class="container-md mt-5 p-3">
    {{#if productos}}
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Foto</th>
        </tr>
    </thead>
    <tbody class="productsContainer">
        
        {{#each productos}}
        <tr>
            <td>{{this.titulo}}</td>
            <td>{{this.precio}}</td>
            <td><img style="max-width: 60px;" src="{{this.thumbnail}}" alt="{{this.titulo}}" class="w-100"></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
    {{else}}
    <div class="h5 text-center alert alert-secondary">No hay productos</div>
    {{/if}}
</div>